body {
    background-color: beige;

}

.container {
    background-image: url(/images/99287f9afd3f5b6e91db00d69ce8f143.webp);
    background-size:auto;
    background-position:unset;
}


.form-control {
    width:28%;
 }